<a href="https://colab.research.google.com/github/lekshmilekshmi/ICT_DSA_ACTIVITIES/blob/main/lekshmi_pandas_casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
import pandas as pd
import numpy as np
url="https://raw.githubusercontent.com/laxmimerit/All-CSV-ML-Data-Files-Download/master/IMDB-Movie-Data.csv"
df2=pd.read_csv(url)

In [4]:
#2
df2.shape

(1000, 12)

In [5]:
#2
df2.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
df2.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [8]:
df2.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [9]:
df2.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [12]:
df2.duplicated().sum()
df2=df2.drop_duplicates()
df2

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [13]:
df2= df2.rename(columns={"Title":"Movie_Title"})
df2

,Rank,Movie_Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [16]:
unique_genres=set()
for g in df2["Genre"].dropna():
  unique_genres.update(g.split(" , "))
print("\nUnique Genres:",unique_genres)

Unique Genres: {'Action,Adventure,Western', 'Comedy,Family,Romance', 'Biography,History,Thriller', 'Drama,Romance,Thriller', 'Adventure,Drama,Family', 'Adventure,Comedy,Sci-Fi', 'Mystery,Thriller,Western', 'Horror,Mystery,Thriller', 'Fantasy,Horror', 'Drama,Musical,Romance', 'Action,Comedy,Fantasy', 'Drama,Thriller', 'Biography,Comedy,Crime', 'Drama,Family,Fantasy', 'Drama,Sport', 'Animation,Action,Adventure', 'Comedy,Drama,Thriller', 'Comedy,Drama,Musical', 'Drama,Fantasy,War', 'Fantasy,Horror,Thriller', 'Crime,Horror,Thriller', 'Action,Drama,History', 'Drama,Horror,Mystery', 'Comedy,Family', 'Action,Sci-Fi,Thriller', 'Drama,Horror,Sci-Fi', 'Drama,Horror', 'Adventure,Comedy', 'Action', 'Drama,Mystery,War', 'Action,Adventure,Drama', 'Mystery,Sci-Fi,Thriller', 'Comedy,Family,Musical', 'Comedy,Drama', 'Action,Adventure,Crime', 'Action,Adventure,Mystery', 'Biography,Drama,History', 'Action,Fantasy,Horror', 'Action,Drama,Romance', 'Action,Horror,Mystery', 'Comedy,Drama,Romance', 'Action,Drama,War', 'Action,Comedy,Sport', 'Animation,Fantasy', 'Adventure,Drama,Thriller', 'Action,Adventure,Family', 'Comedy,Romance,Western', 'Comedy,Fantasy', 'Drama,Mystery,Romance', 'Action,Adventure,Romance', 'Comedy,Music', 'Comedy,Horror', 'Comedy,Family,Fantasy', 'Drama,Sci-Fi,Thriller', 'Drama,Horror,Musical', 'Adventure,Drama,Romance', 'Drama,History', 'Drama,Fantasy,Horror', 'Drama,Fantasy,Thriller', 'Action,Horror', 'Adventure,Comedy,Drama', 'Drama,Family,Music', 'Crime,Drama,Thriller', 'Romance,Sci-Fi', 'Drama,Romance', 'Drama,Mystery,Sci-Fi', 'Adventure,Mystery,Sci-Fi', 'Drama,Fantasy', 'Action,Biography,Drama', 'Adventure,Crime,Mystery', 'Drama,Thriller,War', 'Action,Fantasy', 'Comedy,Romance,Sport', 'Horror', 'Animation,Comedy,Family', 'Sci-Fi', 'Action,Drama,Horror', 'Drama,History,Thriller', 'Action,Horror,Thriller', 'Action,Comedy,Mystery', 'Horror,Thriller', 'Adventure,Horror,Mystery', 'Adventure,Drama,History', 'Adventure,Sci-Fi,Thriller', 'Adventure,Comedy,Fantasy', 'Action,Comedy,Drama', 'Animation,Action,Comedy', 'Crime,Drama', 'Drama,Fantasy,Romance', 'Action,Thriller,War', 'Action,Drama,Thriller', 'Comedy,Crime', 'Comedy,Drama,Family', 'Drama,History,War', 'Fantasy,Mystery,Thriller', 'Adventure,Drama', 'Biography,Drama,Sport', 'Crime,Thriller', 'Drama,Fantasy,Music', 'Animation,Drama,Romance', 'Action,Horror,Romance', 'Adventure,Drama,Western', 'Crime,Drama,Horror', 'Action,Mystery,Sci-Fi', 'Adventure,Horror', 'Action,Adventure', 'Comedy,Horror,Thriller', 'Comedy,Crime,Thriller', 'Horror,Mystery,Sci-Fi', 'Action,Crime,Sport', 'Action,Comedy,Crime', 'Action,Crime,Mystery', 'Comedy,Mystery', 'Comedy', 'Adventure,Drama,Sci-Fi', 'Horror,Mystery', 'Mystery,Thriller', 'Crime,Drama,History', 'Action,Adventure,Fantasy', 'Biography,Crime,Drama', 'Biography,Drama', 'Biography,Drama,Thriller', 'Crime,Drama,Music', 'Action,Mystery,Thriller', 'Sci-Fi,Thriller', 'Action,Crime,Sci-Fi', 'Action,Adventure,Comedy', 'Animation,Adventure,Family', 'Drama,Western', 'Adventure,Biography,Drama', 'Comedy,Horror,Romance', 'Animation,Adventure,Comedy', 'Comedy,Drama,Music', 'Action,Crime,Drama', 'Adventure,Fantasy,Mystery', 'Comedy,Horror,Sci-Fi', 'Biography,Drama,Mystery', 'Action,Crime,Fantasy', 'Action,Comedy,Romance', 'Adventure,Fantasy', 'Animation,Comedy,Drama', 'Action,Adventure,Sci-Fi', 'Crime,Mystery,Thriller', 'Action,Drama,Sci-Fi', 'Thriller,War', 'Adventure,Comedy,Horror', 'Drama,Family', 'Biography,Comedy,Drama', 'Crime,Drama,Mystery', 'Comedy,Romance', 'Drama,War', 'Action,Horror,Sci-Fi', 'Action,Adventure,Thriller', 'Drama,Horror,Thriller', 'Action,Biography,Crime', 'Mystery,Romance,Thriller', 'Action,Comedy,Family', 'Comedy,Crime,Drama', 'Action,Adventure,Biography', 'Action,Thriller', 'Adventure,Drama,War', 'Action,Fantasy,War', 'Adventure,Family,Fantasy', 'Drama,Sci-Fi', 'Drama,Romance,Sci-Fi', 'Comedy,Music,Romance', 'Biography,Drama,Family', 'Adventure,Comedy,Family', 'Action,Drama,Family', 'Adventure,Family', 'Adventure,Comedy,Romance', 'Animation,Family,Fantasy', 'Biography,Drama,Romance', 'Action,Drama,Fantasy', 'Comedy,Western', 'Action,Adventure,Horror', 'Action,Comedy', 'Action,Comedy,Sci-Fi', 'Animation,Drama,Fantasy', 'Drama,Romance,War', 'Horror,Sci-Fi,Thriller', 'Adventure', 'Action,Drama,Mystery', 'Drama,Music', 'Drama,Mystery,Thriller', 'Drama,Fantasy,Musical', 'Adventure,Drama,Horror', 'Thriller', 'Drama,Fantasy,Mystery', 'Action,Drama,Sport', 'Crime,Drama,Fantasy', 'Adventure,Biography,Crime', 'Action,Crime,Thriller', 'Comedy,Fantasy,Romance', 'Action,Comedy,Horror', 'Comedy,Drama,Fantasy', 'Adventure,Biography', 'Action,Sci-Fi', 'Action,Fantasy,Thriller', 'Comedy,Sci-Fi', 'Romance,Sci-Fi,Thriller', 'Drama,Music,Romance', 'Comedy,Fantasy,Horror', 'Drama', 'Comedy,Drama,Horror', 'Mystery,Romance,Sci-Fi', 'Adventure,Drama,Fantasy'}

In [19]:
df2["Num_Genres"] = df2["Genre"].apply(lambda x: len(x.split(", ")) if pd.notnull(x) else 0)
df2["Num_Genres"]

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: Num_Genres, Length: 1000, dtype: int64

In [21]:
df2["Revenue (Millions)"] = df2["Revenue (Millions)"].fillna(df2["Revenue (Millions)"].median())
df2["Metascore"] = df2["Metascore"].fillna(df2["Metascore"].median())
df2[["Revenue (Millions)","Metascore"]].isnull().sum()

Revenue (Millions)    0
Metascore             0
dtype: int64

In [23]:
top5_movies = df2[["Movie_Title", "Rating"]].sort_values(by="Rating", ascending=False).head(5)
print(top5_movies)

          Movie_Title  Rating
54    The Dark Knight     9.0
80          Inception     8.8
117            Dangal     8.8
36       Interstellar     8.6
249  The Intouchables     8.6

In [25]:
highest_rev = df2.loc[df2["Revenue (Millions)"].idxmax()]
lowest_rev = df2.loc[df2["Revenue (Millions)"].idxmin()]
print("\nHighest Revenue Movie:\n", highest_rev[["Movie_Title", "Revenue (Millions)"]])
print("\nLowest Revenue Movie:\n", lowest_rev[["Movie_Title", "Revenue (Millions)"]])

Highest Revenue Movie:
 Movie_Title           Star Wars: Episode VII - The Force Awakens
Revenue (Millions)                                        936.63
Name: 50, dtype: object

Lowest Revenue Movie:
 Movie_Title           A Kind of Murder
Revenue (Millions)                 0.0
Name: 231, dtype: object

In [27]:
avg_rating_director = df2.groupby("Director")["Rating"].mean().sort_values(ascending=False)
print("\nAverage Rating by Director:\n", avg_rating_director.head())

Average Rating by Director:
 Director
Nitesh Tiwari                       8.80
Christopher Nolan                   8.68
Olivier Nakache                     8.60
Makoto Shinkai                      8.60
Florian Henckel von Donnersmarck    8.50
Name: Rating, dtype: float64

In [28]:
movies_per_year = df2["Year"].value_counts().sort_index()
print("\nMovies per Year:\n", movies_per_year)

Movies per Year:
 Year
2006     44
2007     53
2008     52
2009     51
2010     60
2011     63
2012     64
2013     91
2014     98
2015    127
2016    297
Name: count, dtype: int64

In [29]:
high_rating_revenue = df2[(df2["Rating"] > 8) & (df2["Revenue (Millions)"] > 100)]
print("\nMovies with Rating > 8 & Revenue > 100M:\n", high_rating_revenue[["Movie_Title", "Rating", "Revenue (Millions)"]])

Movies with Rating > 8 & Revenue > 100M:
                                       Movie_Title  Rating  Revenue (Millions)
0                         Guardians of the Galaxy     8.1              333.13
6                                      La La Land     8.3              151.06
36                                   Interstellar     8.6              187.99
50     Star Wars: Episode VII - The Force Awakens     8.1              936.63
54                                The Dark Knight     9.0              533.32
67                             Mad Max: Fury Road     8.1              153.63
74                                       Zootopia     8.1              341.26
76                                   The Avengers     8.1              623.28
77                           Inglourious Basterds     8.3              120.52
80                                      Inception     8.8              292.57
82                        The Wolf of Wall Street     8.2              116.87
83                                      Gone Girl     8.1              167.74
92                                       The Help     8.1              169.71
99                                   The Departed     8.5              132.37
114  Harry Potter and the Deathly Hallows: Part 2     8.1              380.96
124                         The Dark Knight Rises     8.5              448.13
138                                Shutter Island     8.1              127.97
144                              Django Unchained     8.4              162.80
241                                    Inside Out     8.2              356.45
427                          The Bourne Ultimatum     8.1              227.14
499                                            Up     8.3              292.98
634                                        WALL·E     8.4              223.81
645                                   Gran Torino     8.2              148.09
688                                   Toy Story 3     8.3              414.98
772                      How to Train Your Dragon     8.1              217.39

In [30]:
director_group = df2.groupby("Director").agg({"Rating":"mean", "Revenue (Millions)":"mean"}).sort_values(by="Rating", ascending=False)
print("\nDirector-wise Avg Rating & Revenue:\n", director_group.head())

Director-wise Avg Rating & Revenue:
                                   Rating  Revenue (Millions)
Director
Nitesh Tiwari                       8.80              11.150
Christopher Nolan                   8.68             303.018
Olivier Nakache                     8.60              13.180
Makoto Shinkai                      8.60               4.680
Florian Henckel von Donnersmarck    8.50              11.280

In [31]:
year_group = df2.groupby("Year").agg({"Movie_Title":"count", "Rating":"mean"}).rename(columns={"Movie_Title":"Movie_Count"})
print("\nYear-wise Count & Avg Rating:\n", year_group)

Year-wise Count & Avg Rating:
       Movie_Count    Rating
Year
2006           44  7.125000
2007           53  7.133962
2008           52  6.784615
2009           51  6.960784
2010           60  6.826667
2011           63  6.838095
2012           64  6.925000
2013           91  6.812088
2014           98  6.837755
2015          127  6.602362
2016          297  6.436700

In [36]:
def categorize_rating(r):
    if r < 6:
        return "Poor"
    elif 6 <= r < 7.5:
        return "Average"
    else:
        return "Excellent"

df2["Rating_Category"] = df2["Rating"].apply(categorize_rating)
print("\nRating Categories:\n", df2["Rating_Category"].value_counts())

Rating Categories:
 Rating_Category
Average      586
Excellent    230
Poor         184
Name: count, dtype: int64

In [37]:
def movie_score(row):
    return row["Rating"] * 10 + row["Revenue (Millions)"]

df2["High_Score"] = df2.apply(movie_score, axis=1)
print("\nHigh Score Column Added:\n", df2[["Movie_Title", "High_Score"]].head())

High Score Column Added:
                Movie_Title  High_Score
0  Guardians of the Galaxy      414.13
1               Prometheus      196.46
2                    Split      211.12
3                     Sing      342.32
4            Suicide Squad      387.02

In [40]:

df2['Profitability'] = df2['Revenue (Millions)'] / df2['Runtime (Minutes)']
top10_profitable = df2.nlargest(10, 'Profitability')[['Movie_Title','Profitability']]
print("\nTop 10 Most Profitable Movies:\n", top10_profitable)

Top 10 Most Profitable Movies:
                                     Movie_Title  Profitability
50   Star Wars: Episode VII - The Force Awakens       6.886985
85                               Jurassic World       5.259516
119                                Finding Dory       5.013299
87                                       Avatar       4.694506
76                                 The Avengers       4.358601
15                      The Secret Life of Pets       4.233448
688                                 Toy Story 3       4.028932
12                                    Rogue One       4.001278
174                                      Frozen       3.928824
797                             Despicable Me 2       3.755612